html {
  background-color: #4f594a;
}
header{
  font-size: 24px;
  font-family: 'Josefin Sans', sans-serif;
  color: #f7596b;
  text-shadow: 1px 1px black;
  text-align: center;
  text-decoration: underline;

}
#title{
  width: 100%;
  color: white;
  font-family: monospace;
}
